html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiSlider-vertical .MuiSlider-markLabel {
  transform: none !important;
  left: -14px !important;
}

[class*="PrivateValueLabel-circle"] {
  transform: none !important;
  border-radius: 0 !important;
  height: 24px !important;
}

[class*="PrivateValueLabel-label"] {
  transform: none !important;
}

/* move datepicker icon to the right to align with icon from select */
.MuiIconButton-root {
  left: 8px;
}